{%extends "home.html"%}
{%load static%}
{%block body%}


                    <div class="right_panel">

                        <h2>Infrastructure</h2>
                        <p>&nbsp;
                        <h2
                            style="margin: 0px; padding: 0px 0px 10px 10px; text-align: justify; color: rgb(13, 78, 138); font-family: tahoma;">
                            INFRASTRUCTURE</h2>
                        <p
                            style="margin: 10px; padding: 0px; text-align: justify; color: rgb(13, 78, 138); font-family: tahoma; font-size: 14px;">
                            The Asian Law college provides high quality, state-of-the-art infrastructure to facilitate
                            the students and faculty members to conduct and promote quality teaching and research in a
                            plural and diverse atmosphere. An extensive law library with electronic databases is one of
                            the key characteristics of the College. All classrooms are ICT equipped and we have one moot
                            court halls, e-innovation Garage, conference halls etc. The whole college is connected under
                            a Wi-Fi network system. Our campus provides a ragging free and inclusive environment and we
                            immensely focus on making our students a diverse group of socially conscious law graduates,
                            rooted in the concepts of justice and equity.<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            <b style="margin: 0px; padding: 0px;">GREEN CAMPUS</b><br
                                style="margin: 0px; padding: 0px;" />
                            Asian Law College is committed to the future and more importantly to sustainable
                            development. The College has always focused on maintaining lush greenery in and around its
                            vicinity. With an aim to reduce the global ecological footprint, and promote sustainable
                            development, the College encourages planting and maintenance of numerous varieties of trees
                            and medicinal plants and imparts environmental education to the students. Asian Group is
                            happy to highlight its tree plantation initiative, which has witnessed plantation of trees
                            through many eminent visitors. The College also has birds&rsquo; area, erected as
                            &lsquo;machans&rsquo;, an elevated bamboo platform, with water and grain for our bird
                            visitors. The College strives to have an eco-friendly environment and is aiming to become a
                            &lsquo;plastic free campus&rsquo;.<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            <b style="margin: 0px; padding: 0px;">MOOT COURT ROOMS</b><br
                                style="margin: 0px; padding: 0px;" />
                            Moot Court rooms are a thrust area of the Asian Law College. Moot court is an
                            extra-curricular activity in the college. The College strives to integrate the theory and
                            practice of Law in the campus through regular moot court competitions and mock trials of
                            cases. The students are trained to improve their analytical, research, oratory and writing
                            skills which would support them to be successful in their careers.<br
                                style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            The College has one Moot Court Halls with total seating capacity of 150, fully furnished,
                            air-conditioned, equipped with display boards and modern audio-video aids and eco-free.<br
                                style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            <b style="margin: 0px; padding: 0px;">SEMINAR HALL</b><br
                                style="margin: 0px; padding: 0px;" />
                            Asian Law College has fully media equipped with LCD Projector and HD Sound System. The hall
                            is fully air-conditioned. It has a seating capacity of 200 The hall is used for events such
                            as moot courts competitions, seminars, conferences, guest lectures, symposia, orientation
                            program, convocation, etc.<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            <b style="margin: 0px; padding: 0px;">LECTURE &amp; CONFERENCE HALL</b><br
                                style="margin: 0px; padding: 0px;" />
                            Asian Law College has fully media equipped with LCD Projector and HD Sound System. The hall
                            is fully air-conditioned. Lloyd has 2 lecture halls and total seating capacity of 350. The
                            hall is used for events such as conferences, guest lectures, symposia, etc.<br
                                style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            <b style="margin: 0px; padding: 0px;">COMMON ROOM</b><br
                                style="margin: 0px; padding: 0px;" />
                            The Common Room is one of the most heavily renovated spaces in Asian Law College. It is a
                            space for students to hold study, meetings or relax. Asian has common rooms for both girls
                            and boys separately and is always bustling with students. The whole spectrum of activity are
                            taken place by our students working on debating foreign policy, playing on the grand piano
                            or simply having a meal with a friend. It has comfortable seating, ample desk area,
                            fireplace and skylights; the Common Room is a warm and welcoming place, a perfect blend of
                            fun and function.<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            <b style="margin: 0px; padding: 0px;">FACILITY FOR DIVYANG</b><br
                                style="margin: 0px; padding: 0px;" />
                            Asian Law College has made special arrangements for differently-abled students, Divyang in
                            the college for their mobility and independent functioning. Our College has architectural
                            barriers that differently-abled students find difficult for their day-today functioning.
                            Asian created special facilities such as ramps, rails and special toilets, and keep on
                            necessary changes to suit the special needs of differently-abled students. Scribes are
                            provided to the students if required.
                        </p>
                        </p>
                    </div>
                </div>

                {%endblock%}