{%extends "home.html"%}
{%load static%}
{%block body%}

                    <div class="right_panel">

                        <h2>Rules &amp; Regulations</h2>
                        <p>&nbsp;
                        <h2
                            style="margin: 0px; padding: 0px 0px 10px 10px; text-align: justify; color: rgb(13, 78, 138); font-family: tahoma;">
                            Rules &amp; Regulations</h2>
                        <p
                            style="margin: 10px; padding: 0px; text-align: justify; color: rgb(13, 78, 138); font-family: tahoma; font-size: 14px;">
                            Students are required to observe discipline and follow norms in every matter of the
                            College-academic and administrative. Good conduct and academic excellence are the watchwords
                            of the institution.<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            Special care is taken to maintain all round discipline in the College. Students must attend
                            their classes regularly. According to the rules of the MJP Rohilkhand University students
                            must have 75% attendance or above in each subject for being eligible to appear in University
                            Examinations. If attendance is above or equal to 60% but below 75% in each subject,
                            non-collegiate fee is to be paid as per rules. Students having attendance below 60% for any
                            reason whatsoever will be treated as Discollegiate and will be debarred from appearing the
                            University Examination as per MJP Rohilkhand University Rule. No appeal in this regard will
                            be entertained.
                        </p>
                        </p>
                    </div>
                </div>

                {%endblock%}