{%extends "home.html"%}
{%load static%}
{%block body%}

                    <div class="right_panel">

                        <h2>Education Loan</h2>
                        <p>&nbsp;<span
                                style="color: rgb(13, 78, 138); font-size: 14px; text-align: justify; font-family: tahoma;">Despite
                                the financial shortcomings, Asian Law College motivates the students to accomplish their
                                dreams to pursue higher education. Many candidates studying with us are benefitted after
                                availing education loan through various public/private banks and NBFCs across
                                India.</span>
                        <div class="area_body"
                            style="margin: 0px auto; padding: 0px; width: 980px; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; color: rgb(255, 255, 255); font-family: tahoma; font-size: 11px;">
                            <div class="area_content" style="margin: 0px auto; padding: 0px; width: 960px;">
                                <div class="right_panel"
                                    style="margin: 0px; padding: 0px 10px; width: 720px; float: left;">
                                    <p
                                        style="margin: 10px; padding: 0px; text-align: justify; color: rgb(13, 78, 138); font-size: 14px;">
                                        <br style="margin: 0px; padding: 0px;" />
                                        Asian Law College has tied up with YES Bank and Singh financial services to help
                                        the students avail education loan easily.<br
                                            style="margin: 0px; padding: 0px;" />
                                        <br style="margin: 0px; padding: 0px;" />
                                        <img src="../webcreativesolution.in/Design/latest-college/yes.html"
                                            style="margin: 0px; padding: 0px; border: 0px; outline: none;" alt="" /><br
                                            style="margin: 0px; padding: 0px;" />
                                        <br style="margin: 0px; padding: 0px;" />
                                        Procedure for Availing Bank Loan Assistance:<br
                                            style="margin: 0px; padding: 0px;" />
                                        Students seeking for education loan from any bank or NBFC have to apply for a
                                        bonafide letter issued by the college. The college will provide the requisite
                                        letter and all the supporting documents as required by the bank for loan
                                        purposes, as and if believed appropriate. Students have to mail their request
                                        for loan letter at both the following email ids:<br
                                            style="margin: 0px; padding: 0px;" />
                                        &nbsp;
                                    </p>
                                    <p
                                        style="margin: 10px; padding: 0px; text-align: justify; color: red; font-size: 14px;">
                                        admissions@asiancollegebilari.com<br style="margin: 0px; padding: 0px;" />
                                        Info@asiancollegebilari.com</p>
                                    <br style="margin: 0px; padding: 0px;" />
                                    <br style="margin: 0px; padding: 0px;" />
                                    <p
                                        style="margin: 10px; padding: 0px; text-align: justify; color: rgb(13, 78, 138); font-size: 14px;">
                                        Note: The students&#039; parents/guardians shall be responsible for obtaining
                                        sanction and repayment of the sanctioned loan and all kinds of liabilities and
                                        consequences arising thereof, if any. The college shall not be liable and
                                        responsible in this regard.<br style="margin: 0px; padding: 0px;" />
                                        <br style="margin: 0px; padding: 0px;" />
                                        &nbsp;
                                    </p>
                                </div>
                                <div class="clr" style="margin: 0px; padding: 0px; clear: both;">&nbsp;</div>
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
                {%endblock%}