{%extends "home.html"%}
{%load static%}
{%block body%}


                        <div class="right_panel">

                            <h2>Welcome About Asian College</h2>
                            <p style="font-size:14px;">

                                {%for i in gldata%}
                                <img src="{{i.image.url}}" height="400" width="100%" /><br>
                                {%endfor%}

                                
                            </p>
                        </div>
                    

            {%endblock%}