{%extends "home.html"%}
{%load static%}
{%block body%}

                    
                    <div class="right_panel">

                        <h5
                            style="margin: 10px 10px 15px; padding: 0px; text-align: justify; font-family: tahoma; font-size: 16px; border-bottom: 2px solid rgb(32, 98, 144); color: rgb(32, 98, 144);">
                            Vision</h5>
                        <p
                            style="margin: 10px; padding: 0px; text-align: justify; color: rgb(13, 78, 138); font-family: tahoma; font-size: 14px;">
                            <img src="../webcreativesolution.in/Design/latest-college/vision.html"
                                style="margin: 15px; padding: 0px; border: 0px; outline: none; float: left;"
                                alt="" />Asian Law College works towards the growth, development, and formation of such
                            a generation of students who possess the intellectual genius, moral consciousness and social
                            responsibility to ensure the Rule of Law, not just locally but also propagating the same
                            globally. Since we lead the way in legal professional education, the onus is on us to show
                            the way in integrating the rule of law within the society and remove any discrimination with
                            respect to person, property, or community in the society.<br
                                style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            The College is ground for Judges, Legislators and Public Servants in the making which would
                            form part of the governing system in the future. We endeavor to make them best in whatever
                            constructive they do and polish them into professionals who would make a mark in the legal
                            area.
                        </p>
                        <br
                            style="margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-family: tahoma; font-size: 11px;" />
                        <br
                            style="margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-family: tahoma; font-size: 11px;" />
                        <br
                            style="margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-family: tahoma; font-size: 11px;" />
                        <h5
                            style="margin: 10px 10px 15px; padding: 0px; text-align: justify; font-family: tahoma; font-size: 16px; border-bottom: 2px solid rgb(32, 98, 144); color: rgb(32, 98, 144);">
                            Mission</h5>
                        <p
                            style="margin: 10px; padding: 0px; text-align: justify; color: rgb(13, 78, 138); font-family: tahoma; font-size: 14px;">
                            <img src="../webcreativesolution.in/Design/latest-college/mission.html"
                                style="margin: 15px; padding: 0px; border: 0px; outline: none; float: right;"
                                alt="" />Asian Law College believes in disseminating legal knowledge in a resourceful
                            way with a view to help in the nation&rsquo;s development. To achieve this objective the
                            College identifies the following steps:<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            &bull; To evolve and impart comprehensive legal education and to achieve excellence.<br
                                style="margin: 0px; padding: 0px;" />
                            &bull; To promote advanced studies and research in all branches of law.<br
                                style="margin: 0px; padding: 0px;" />
                            &bull; To sensitize the students of law regarding the various socio-legal issues of the
                            country.<br style="margin: 0px; padding: 0px;" />
                            &bull; To inculcate cultural, legal and ethical values with a view to foster the Rule of Law
                            and &nbsp;&nbsp;&nbsp;the objectives enshrined in the Constitution of India.<br
                                style="margin: 0px; padding: 0px;" />
                            &bull; To raise legal awareness in the community for a greater social and economic
                            justice.<br style="margin: 0px; padding: 0px;" />
                            &bull; To combine quality education with necessary input of practical training.<br
                                style="margin: 0px; padding: 0px;" />
                            &bull; To prepare students for a variety of legal and law related career.<br
                                style="margin: 0px; padding: 0px;" />
                            &nbsp;
                        </p>
                    </div>

                    {%endblock%}

                    