{%extends "home.html"%}
{%load static%}
{%block body%}



                    <div class="right_panel">

                        <h2>Bachelor of Law (LLB 3 Years)</h2>
                        <p>&nbsp;
                        <div class="area_content"
                            style="margin: 0px auto; padding: 0px; width: 960px; color: rgb(255, 255, 255); font-family: tahoma; font-size: 11px;">
                            <div class="right_panel" style="margin: 0px; padding: 0px 10px; width: 720px; float: left;">
                                <h2
                                    style="margin: 0px; padding: 0px 0px 10px 10px; text-align: justify; color: rgb(13, 78, 138);">
                                    BA.LL.B.</h2>
                                <p
                                    style="margin: 10px; padding: 0px; text-align: justify; color: rgb(13, 78, 138); font-size: 14px;">
                                    Asian Law College offers a unique opportunity to study law with a nation-wide
                                    academic reputation. The college endeavours towards bringing social, political and
                                    economic change with the help of law. It can be achieved only with professionals who
                                    are committed to the aforementioned objectives and have a keen interest in the field
                                    of law. The faculty members and staff at Asian Law College are well experienced and
                                    committed to the study of law. The courses have been designed to cater to a holistic
                                    development of students. The College has attempted to create a balance course
                                    structure with a fine combination of curricular schedule and co-curricular
                                    activities. The various Centres regularly organize competitions and training
                                    programs to inculcate professional skills in the students. The College aims towards
                                    shaping the students into skilled and hard working professionals.<br
                                        style="margin: 0px; padding: 0px;" />
                                    <br style="margin: 0px; padding: 0px;" />
                                    The College offers BA. LL.B integrated program as a part of its undergraduate
                                    program. The Integrated program aims to get lawyers &lsquo;industry-ready&rsquo;.
                                    The integrated degree is a modern approach to legal education. In an integrated
                                    course, a student covers two courses under one academic program, one in arts and
                                    another in law. In integrated law course, the initial 2 years of study deals with
                                    the basic subjects of that course i.e arts and in the last three years legal
                                    subjects dominates the curriculum.<br style="margin: 0px; padding: 0px;" />
                                    <br style="margin: 0px; padding: 0px;" />
                                    Admission to the B.A.LL.B.-5 Year Integrated program is made strictly on merit based
                                    on the performance of students in the Asian entrance test &#039;AET&#039; &amp;
                                    personal interview of the student.
                                </p>
                                <br style="margin: 0px; padding: 0px;" />
                                <br style="margin: 0px; padding: 0px;" />
                                <h2
                                    style="margin: 0px; padding: 0px 0px 10px 10px; text-align: justify; color: rgb(13, 78, 138);">
                                    To be eligible for admission in the program, the candidate should:</h2>
                                <p
                                    style="margin: 10px; padding: 0px; text-align: justify; color: rgb(13, 78, 138); font-size: 14px;">
                                    &bull; Have passed Senior School Certificate Examination (10+2 System) or equivalent
                                    Examination with at least 45% marks in aggregate for General Category &amp; 40%
                                    marks in aggregate for SC/ST Category.<br style="margin: 0px; padding: 0px;" />
                                    <br style="margin: 0px; padding: 0px;" />
                                    &bull; No Age Limit (MJP Rohilkhand University and Bar Council of India norms).<br
                                        style="margin: 0px; padding: 0px;" />
                                    <br style="margin: 0px; padding: 0px;" />
                                    &bull; Candidates appearing/appeared for the Annual Examination in March/April are
                                    also eligible to apply.<br style="margin: 0px; padding: 0px;" />
                                    <br style="margin: 0px; padding: 0px;" />
                                    <b style="margin: 0px; padding: 0px;">Note - All the above mentioned rules &amp;
                                        regulation are subject to MJP Rohilkhand University and Bar Council of
                                        India.</b><br style="margin: 0px; padding: 0px;" />
                                    <br style="margin: 0px; padding: 0px;" />
                                    <b style="margin: 0px; padding: 0px;">Documents required at the time of personal
                                        interview;</b><br style="margin: 0px; padding: 0px;" />
                                    &bull; 10th Mark Sheet/Certificate (Photocopy &amp; original),<br
                                        style="margin: 0px; padding: 0px;" />
                                    &bull; 12th Mark Sheet/Certificate (Photocopy &amp; Original),<br
                                        style="margin: 0px; padding: 0px;" />
                                    &bull; Residence Proof,<br style="margin: 0px; padding: 0px;" />
                                    &bull; Category Certificate (SC/ST/OBC/EWS); and<br
                                        style="margin: 0px; padding: 0px;" />
                                    &bull; Six passport size recent photograph.<br style="margin: 0px; padding: 0px;" />
                                    <br style="margin: 0px; padding: 0px;" />
                                    <b style="margin: 0px; padding: 0px;">Intake</b><br
                                        style="margin: 0px; padding: 0px;" />
                                    &bull; Total Seats: 120 (One hundred and Twenty only).<br
                                        style="margin: 0px; padding: 0px;" />
                                    <br style="margin: 0px; padding: 0px;" />
                                    <b style="margin: 0px; padding: 0px;">Admission Process</b><br
                                        style="margin: 0px; padding: 0px;" />
                                    Admission to BA.LL.B is made through screening at three levels which are as
                                    follows:<br style="margin: 0px; padding: 0px;" />
                                    &bull; Entrance Test<br style="margin: 0px; padding: 0px;" />
                                    &bull; Personal Interview<br style="margin: 0px; padding: 0px;" />
                                    &bull; Merit<br style="margin: 0px; padding: 0px;" />
                                    <br style="margin: 0px; padding: 0px;" />
                                    <b style="margin: 0px; padding: 0px;">Duration of the Course and Semester
                                        System:</b><br style="margin: 0px; padding: 0px;" />
                                    The BA.LL.B Programme is a five year course. Each academic year is divided into two
                                    semesters. The odd semesters range from July to December and the even semesters from
                                    February to June.<br style="margin: 0px; padding: 0px;" />
                                    &nbsp;
                                </p>
                            </div>
                        </div>
                        </p>
                        <a href="/subprogram1"
                            style="margin: 0px; padding: 10px 20px; border: 0px; outline: none; color: rgb(255, 255, 255); background-color: rgb(0, 143, 206); float: left; text-decoration-line: none; font-size: 16px;">Career
                            Opportunities</a>
                        <a href="/subprogram2"
                            style="margin: 0px; padding: 10px 20px; border: 0px; outline: none; color: rgb(255, 255, 255); background-color: rgb(0, 143, 206); float: left; text-decoration-line: none; font-size: 16px;">Dress
                            Code</a>
                        <a href="/subprogram3"
                            style="margin: 0px; padding: 10px 20px; border: 0px; outline: none; color: rgb(255, 255, 255); background-color: rgb(0, 143, 206); float: left; text-decoration-line: none; font-size: 16px;">Program
                            Content</a>
                        <br><br>

                        <h2>Career Opportunities</h2>
                        <p
                            style="margin: 10px; padding: 0px; text-align: justify; color: rgb(13, 78, 138); font-family: tahoma; font-size: 14px;">
                            &bull; Criminal Lawyer: Specializes in criminal laws CrPC, IPC, Evidence Act and various
                            other penal laws.<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            &bull; Civil Litigation Lawyer: Specializes in civil laws e.g. taxation laws, excise
                            laws.<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            &bull; Legal Analyst: Works for corporate firms or law firms and analyses laws pertaining to
                            the sphere of the company and its operation.<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            &bull; Document Drafting Lawyer: Specializes in drafting various documents containing
                            agreements, terms and conditions, case material, etc.<br
                                style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            &bull; Legal Journalist: Covers crime beats, legal proceedings in courts, arbitration
                            courts, international courts and arbitration events.<br
                                style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            &bull; Legal Advisor: Offers consultancy to corporate firms regarding their legal
                            obligations, duties, legal relations with other firms.<br
                                style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            &bull; Government Lawyer: Works for the government and in close coordination with the
                            police.<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            &bull; Judge: Offers judgment after conducting the court proceedings and hearing al the
                            concerned parties.
                        </p>
                        <div
                            style="margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-family: tahoma; font-size: 11px;">
                            &nbsp;</div>

                        <a style="color:red; font-weight:bold; float:left; width:100%; margin-top:20px; font-size:16px;"
                            href="/studentreg">Apply Here</a>
                    </div>
                </div>

                {%endblock%}