{%extends "home.html"%}
{%load static%}
{%block body%}



                    <div class="right_panel">

                        <h2>Anti-ragging Cell</h2>
                        <p>&nbsp;
                        <h2
                            style="margin: 0px; padding: 0px 0px 10px 10px; text-align: justify; color: rgb(13, 78, 138); font-family: tahoma;">
                            Anti-ragging Committee</h2>
                        <p
                            style="margin: 10px; padding: 0px; text-align: justify; color: rgb(13, 78, 138); font-family: tahoma; font-size: 14px;">
                            Asian Law College is a ragging free campus. The College maintains zero tolerance towards any
                            such type of incidents. Ragging, traditionally known as the initiation ritual, took a turn
                            of serious and harmful activities in the modern higher education institutions. Accepting the
                            need to address this menace, the Supreme Court of India issued a set of guidelines to
                            prevent this activity in educational institutions in 2001. The Ministry of Human Resource
                            Development has also taken a serious note of the issue and has initiated nationwide efforts
                            to curb this activity. In case of an incident of ragging a complaint shall be directly made
                            to the UGC. Any ragging related complaint can be submitted directly through this link:
                            helpline@antiragging.in. As per the guidelines of UGC an Anti-Ragging Committee and an
                            anti-ragging squad has been established by the Asian Law College to provide a healthy and
                            congenial atmosphere to students at the Institute. The committee has been constituted to
                            meet the following objectives:<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            1. To develop the guidelines and norms for a policy against Ragging.<br
                                style="margin: 0px; padding: 0px;" />
                            2. To develop principles and procedures for combating Ragging.<br
                                style="margin: 0px; padding: 0px;" />
                            3. To work out details for the implementation of the policy.<br
                                style="margin: 0px; padding: 0px;" />
                            4. To prepare a detailed plan of action, both short and long term.<br
                                style="margin: 0px; padding: 0px;" />
                            5. To investigate and make inquiry into the complains related to ragging and take
                            appropriate action as per the law.<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            The Committee has a 24/7 helpline number specified in the website and the Committee conducts
                            frequent visits to the student residential/hostel areas to check the same.<br
                                style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            The following are the punishable ingredients of ragging:-<br
                                style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            ? Abetment to ragging;<br style="margin: 0px; padding: 0px;" />
                            ? Criminal conspiracy to rag;<br style="margin: 0px; padding: 0px;" />
                            ? Unlawful assembly and rioting while ragging;<br style="margin: 0px; padding: 0px;" />
                            ? Public nuisance created during nagging;<br style="margin: 0px; padding: 0px;" />
                            ? Violation of decency and morals through nagging;<br style="margin: 0px; padding: 0px;" />
                            ? Injury to body, causing hurt or grievous hurt;<br style="margin: 0px; padding: 0px;" />
                            ? Wrongful restraint;<br style="margin: 0px; padding: 0px;" />
                            ? Wrongful confinement;<br style="margin: 0px; padding: 0px;" />
                            ? Use of criminal force;<br style="margin: 0px; padding: 0px;" />
                            ? Assault as well as sexual offences or unnatural offences;<br
                                style="margin: 0px; padding: 0px;" />
                            ? Extortion<br style="margin: 0px; padding: 0px;" />
                            ? Criminal trespass;<br style="margin: 0px; padding: 0px;" />
                            ? Offences against property;<br style="margin: 0px; padding: 0px;" />
                            ? Criminal intimidation;<br style="margin: 0px; padding: 0px;" />
                            ? Attempt to commit any or all of the above mentioned offences against the victim(s);<br
                                style="margin: 0px; padding: 0px;" />
                            ? Physical or psychological humiliation;<br style="margin: 0px; padding: 0px;" />
                            ? All other offences following from the definition of &#039;ragging&#039;.<br
                                style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            As per the guidelines of UGC an Anti Ragging Committee and an anti ragging squad has been
                            established by the Lloyd Law College to provide a healthy and congenial atmosphere to
                            students of the Institute. The committee has been constituted to meet the following
                            objectives:<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            ? To develop the guidelines and norms for a policy against Ragging.<br
                                style="margin: 0px; padding: 0px;" />
                            ? To develop principles and procedures for combating Ragging.<br
                                style="margin: 0px; padding: 0px;" />
                            ? To work out details for the implementation of the policy.<br
                                style="margin: 0px; padding: 0px;" />
                            ? To prepare a detailed plan of action, both short and long term.<br
                                style="margin: 0px; padding: 0px;" />
                            ? To investigate and make inquiry into the complains related to ragging and take appropriate
                            action as per the law.<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            Anti Ragging Committee:<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            Chairperson: Junaid Alam (Director, Asian Law College) 9997986999<br
                                style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            Members:<br style="margin: 0px; padding: 0px;" />
                            1. Prof. Vijay Singh (Deputy Director, Asian Law College)<br
                                style="margin: 0px; padding: 0px;" />
                            2. Prof. Suresh Pathak (Assistant Professor, Law)<br style="margin: 0px; padding: 0px;" />
                            3. Ms. Anjali Gupta - (NGO Representation)<br style="margin: 0px; padding: 0px;" />
                            4. Adv. Parvez Alam (Advocate)<br style="margin: 0px; padding: 0px;" />
                            5. Ms. Deepti Kumari (Student)<br style="margin: 0px; padding: 0px;" />
                            6. Mr. Ashok Kumar Aggarwal (Media)<br style="margin: 0px; padding: 0px;" />
                            7. Suhail Alam Member Secretary (Administration Head, Asian Law College)<br
                                style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            Anti-Ragging Squad Composition:<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            Chairperson: Prof. Suresh Pathak (Asst. Prof., Asian Law College) 9891742222.<br
                                style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            Members:<br style="margin: 0px; padding: 0px;" />
                            1. Prof. Akash Singh<br style="margin: 0px; padding: 0px;" />
                            2. Prof. Satyaveer Dayal<br style="margin: 0px; padding: 0px;" />
                            3. Dr. Manjeet Singh
                        </p>
                        </p>


                        <a style="color:red; font-weight:bold; float:left; width:100%; margin-top:20px; font-size:16px;"
                            href="studentreg.html">Apply Here</a>
                    </div>
                </div>

                {%endblock%}