{%extends "home.html"%}
{%load static%}
{%block body%}



                    <div class="right_panel">

                        <h2>Bachelor of Law (LLB 5 Years)</h2>
                        <p>&nbsp;
                        <div class="area_content"
                            style="margin: 0px auto; padding: 0px; width: 960px; color: rgb(255, 255, 255); font-family: tahoma; font-size: 11px;">
                            <div class="right_panel" style="margin: 0px; padding: 0px 10px; width: 720px; float: left;">
                                <h2
                                    style="margin: 0px; padding: 0px 0px 10px 10px; text-align: justify; color: rgb(13, 78, 138);">
                                    LL.B.</h2>
                                <br style="margin: 0px; padding: 0px;" />
                                <br style="margin: 0px; padding: 0px;" />
                                <p
                                    style="margin: 10px; padding: 0px; text-align: justify; color: rgb(13, 78, 138); font-size: 14px;">
                                    <b style="margin: 0px; padding: 0px;">Eligibility</b><br
                                        style="margin: 0px; padding: 0px;" />
                                    <br style="margin: 0px; padding: 0px;" />
                                    LL.B. has the duration of 3-years and covers only law subjects and is offered by few
                                    universities, one of them being Asian Law College. The course curriculum of LL.B. is
                                    purely based on law subjects. The course covers both theoretical and practical
                                    aspects of law and the course is interlaced with assignments. Professionals who
                                    would like to work in the judiciary, litigation, civil services or academics
                                    department form most of the aspirants.<br style="margin: 0px; padding: 0px;" />
                                    <br style="margin: 0px; padding: 0px;" />
                                    Admission to the LL.B.-3 Year program is made strictly on merit based result of the
                                    Entrance Test &amp; Personal Interview of the student.<br
                                        style="margin: 0px; padding: 0px;" />
                                    <br style="margin: 0px; padding: 0px;" />
                                    <b style="margin: 0px; padding: 0px;">To be eligible for admission in the LL.B.-3
                                        Year degree program, the candidate should:</b><br
                                        style="margin: 0px; padding: 0px;" />
                                    <br style="margin: 0px; padding: 0px;" />
                                    <br style="margin: 0px; padding: 0px;" />
                                    &bull; Have passed Graduation(10+2+3 pattern) in any discipline from a recognized
                                    College/University, having secured minimum 45% marks in aggregate for general
                                    category and 40% marks in aggregate for SC/ST category.<br
                                        style="margin: 0px; padding: 0px;" />
                                    <br style="margin: 0px; padding: 0px;" />
                                    &bull; Candidates appearing/appeared for the Annual Examination in March/April and
                                    those appearing in semester examinations in May-June are also eligible to apply.<br
                                        style="margin: 0px; padding: 0px;" />
                                    <br style="margin: 0px; padding: 0px;" />
                                    &bull; The admissions will take place as per MJP Rohilkhand University and Bar
                                    Council of India norms). Note: All the above mentioned rules &amp; regulation are
                                    subject to C.C.S. University and Bar Council of India. Documents required at the
                                    time of personal interview;<br style="margin: 0px; padding: 0px;" />
                                    &bull; 10th Mark Sheet/Certificate (Photocopy &amp; original),<br
                                        style="margin: 0px; padding: 0px;" />
                                    &bull; 12th Mark Sheet/Certificate (Photocopy &amp; Original),<br
                                        style="margin: 0px; padding: 0px;" />
                                    &bull; Graduation Documents,<br style="margin: 0px; padding: 0px;" />
                                    &bull; Transfer Certificate<br style="margin: 0px; padding: 0px;" />
                                    &bull; Residence Proof,<br style="margin: 0px; padding: 0px;" />
                                    &bull; Category Certificate (SC/ST/OBC/EWS); and<br
                                        style="margin: 0px; padding: 0px;" />
                                    &bull; Six passport size recent photograph.<br style="margin: 0px; padding: 0px;" />
                                    <br style="margin: 0px; padding: 0px;" />
                                    <b style="margin: 0px; padding: 0px;">Intake</b><br
                                        style="margin: 0px; padding: 0px;" />
                                    &bull; Total Seats: 120 seats (one hundred twenty only);<br
                                        style="margin: 0px; padding: 0px;" />
                                    <br style="margin: 0px; padding: 0px;" />
                                    <b style="margin: 0px; padding: 0px;">Admission Process</b><br
                                        style="margin: 0px; padding: 0px;" />
                                    Admission to LL.B is made through screening at two levels which are as follows:<br
                                        style="margin: 0px; padding: 0px;" />
                                    &bull; Entrance Test<br style="margin: 0px; padding: 0px;" />
                                    &bull; Personal Interview<br style="margin: 0px; padding: 0px;" />
                                    &nbsp;
                                </p>
                                <div style="margin: 0px; padding: 0px; float: left; width: 720px;">
                                    <div style="margin: 0px; padding: 0px; float: left; width: 216px;"><a
                                            href="https://webcreativesolution.in/Design/latest-college/career2.php#career"
                                            style="margin: 0px; padding: 10px 20px; border: 0px; outline: none; color: rgb(255, 255, 255); background-color: rgb(0, 143, 206); float: left; text-decoration-line: none; font-size: 16px;">Career
                                            Opportunities</a></div>
                                    <div style="margin: 0px; padding: 0px; float: left; width: 144px;"><a id="dress"
                                            href="https://webcreativesolution.in/Design/latest-college/dress2.php#dress"
                                            style="margin: 0px; padding: 10px 20px; border: 0px; outline: none; color: rgb(255, 255, 255); background-color: rgb(0, 143, 206); float: left; text-decoration-line: none; font-size: 16px;">Dress
                                            Code</a></div>
                                    <div style="margin: 0px; padding: 0px; float: left; width: 180px;"><a id="program"
                                            href="https://webcreativesolution.in/Design/latest-college/program2.php#program"
                                            style="margin: 0px; padding: 10px 20px; border: 0px; outline: none; color: rgb(255, 255, 255); background-color: rgb(0, 143, 206); float: left; text-decoration-line: none; font-size: 16px;">Program
                                            Contents</a></div>
                                    <div style="margin: 0px; padding: 0px; float: left; width: 720px;"><br
                                            style="margin: 0px; padding: 0px;" />
                                        <br style="margin: 0px; padding: 0px;" />
                                        <h2
                                            style="margin: 0px; padding: 0px 0px 10px 10px; text-align: justify; color: rgb(13, 78, 138);">
                                            Career Opportunities</h2>
                                        <p
                                            style="margin: 10px; padding: 0px; text-align: justify; color: rgb(13, 78, 138); font-size: 14px;">
                                            &bull; Criminal Lawyer: Specializes in criminal laws CrPC, IPC, Evidence Act
                                            and various other penal laws.<br style="margin: 0px; padding: 0px;" />
                                            <br style="margin: 0px; padding: 0px;" />
                                            &bull; Civil Litigation Lawyer: Specializes in civil laws e.g. taxation
                                            laws, excise laws.<br style="margin: 0px; padding: 0px;" />
                                            <br style="margin: 0px; padding: 0px;" />
                                            &bull; Legal Analyst: Works for corporate firms or law firms and analyses
                                            laws pertaining to the sphere of the company and its operation.<br
                                                style="margin: 0px; padding: 0px;" />
                                            <br style="margin: 0px; padding: 0px;" />
                                            &bull; Document Drafting Lawyer: Specializes in drafting various documents
                                            containing agreements, terms and conditions, case material, etc.<br
                                                style="margin: 0px; padding: 0px;" />
                                            <br style="margin: 0px; padding: 0px;" />
                                            &bull; Legal Journalist: Covers crime beats, legal proceedings in courts,
                                            arbitration courts, international courts and arbitration events.<br
                                                style="margin: 0px; padding: 0px;" />
                                            <br style="margin: 0px; padding: 0px;" />
                                            &bull; Legal Advisor: Offers consultancy to corporate firms regarding their
                                            legal obligations, duties, legal relations with other firms.<br
                                                style="margin: 0px; padding: 0px;" />
                                            <br style="margin: 0px; padding: 0px;" />
                                            &bull; Government Lawyer: Works for the government and in close coordination
                                            with the police.<br style="margin: 0px; padding: 0px;" />
                                            <br style="margin: 0px; padding: 0px;" />
                                            &bull; Judge: Offers judgment after conducting the court proceedings and
                                            hearing al the concerned parties.
                                        </p>
                                        <div>&nbsp;</div>
                                    </div>
                                </div>
                                <div class="clr" style="margin: 0px; padding: 0px; clear: both;">&nbsp;</div>
                            </div>
                        </div>
                        </p>


                        <a style="color:red; font-weight:bold; float:left; width:100%; margin-top:20px; font-size:16px;"
                            href="studentreg.html">Apply Here</a>
                    </div>
                </div>
                {%endblock%}