{%extends "home.html"%}
{%load static%}
{%block body%}


                    <div class="right_panel">

                        <h2>Admission Process</h2>
                        <p>&nbsp;
                        <h2
                            style="margin: 0px; padding: 0px 0px 10px 10px; text-align: justify; color: rgb(13, 78, 138); font-family: tahoma;">
                            Admission Process</h2>
                        <p
                            style="margin: 10px; padding: 0px; text-align: justify; color: rgb(13, 78, 138); font-family: tahoma; font-size: 14px;">
                            <b style="margin: 0px; padding: 0px;">BA.LL.B. - 5 Year Program</b><br
                                style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            For admission to BA.LL.B., candidate should have<br style="margin: 0px; padding: 0px;" />
                            1. Passed 10+2 with min 60% or Score of National level entrance test viz. CLAT/ LSAT-India /
                            AILET / MHCET / BHU / GGSIPU / JAMIA / AMU etc.<br style="margin: 0px; padding: 0px;" />
                            2. Test score of each candidate shall be scaled down to Maximum Marks : 50 / candidate
                            score.<br style="margin: 0px; padding: 0px;" />
                            3. Candidates who have scored less than 60% or are appearing in class 12th shall apply for
                            Asian Online Test in order to qualify for the final round of selection process i.e Personal
                            Interview.<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            <b style="margin: 0px; padding: 0px;">LL.B. - 3 Year Program</b><br
                                style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            For admission to LL.B., candidate should have<br style="margin: 0px; padding: 0px;" />
                            1. Passed 10+2+3 with minimum 50% or Score of National level entrance Test viz. DU.LL.B. /
                            LSAT / BHU / MHCET etc.<br style="margin: 0px; padding: 0px;" />
                            2. Candidates who have scored less than 50% or are appearing in graduation final year shall
                            apply for Asian Online Test in order to qualify for the final round of selection process i.e
                            Personal Interview.<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            <b style="margin: 0px; padding: 0px;">IMPORTANT NOTE:</b><br
                                style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            &bull; Personal Interview is a basic aptitude analysis of students based on the knowledge of
                            subjects studied in the last qualifying exams, other areas of interest, current affairs,
                            hobbies and achievements.<br style="margin: 0px; padding: 0px;" />
                            &bull; Any candidate who qualifies Step - 01 has to apply for Step - 02 i.e. Personal
                            interview for the final selection.<br style="margin: 0px; padding: 0px;" />
                            &bull; Asian Online Test will be a home-based online test which can be easily accessed
                            through Laptop, Desktop, I-Pad / Tab, Smartphone.
                        </p>
                        </p>
                    </div>
                </div>

                {%endblock%}