{%extends "home.html"%}
{%load static%}
{%block body%}

                    <div class="right_panel">

                        <h2>Marksheet Status</h2>
                        <p>&nbsp;<span
                                style="color: rgb(13, 78, 138); font-size: 14px; text-align: justify; font-family: tahoma;">Enter
                                University Roll No *Only Numerical Digits. : ....................</span>
                        <div class="area_body"
                            style="margin: 0px auto; padding: 0px; width: 980px; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; color: rgb(255, 255, 255); font-family: tahoma; font-size: 11px;">
                            <div class="area_content" style="margin: 0px auto; padding: 0px; width: 960px;">
                                <div class="right_panel"
                                    style="margin: 0px; padding: 0px 10px; width: 720px; float: left;">
                                    <p
                                        style="margin: 10px; padding: 0px; text-align: justify; color: rgb(13, 78, 138); font-size: 14px;">
                                        <br style="margin: 0px; padding: 0px;" />
                                        Search<br style="margin: 0px; padding: 0px;" />
                                        Please enter correct information. Thankyou<br
                                            style="margin: 0px; padding: 0px;" />
                                        FOR DEVELOPER: This is just for show, it won&#039;t work for search.<br
                                            style="margin: 0px; padding: 0px;" />
                                        &nbsp;</p>
                                </div>
                                <div class="clr" style="margin: 0px; padding: 0px; clear: both;">&nbsp;</div>
                            </div>
                        </div>
                        </p>
                    </div>
                </div>

                {%endblock%}