{%extends "home.html"%}
{%load static%}
{%block body%}

                    <div class="right_panel">

                        <h2>Career Opportunities</h2>
                        <p><br><br>

                        <h2>Career Opportunities</h2>
                        <p
                            style="margin: 10px; padding: 0px; text-align: justify; color: rgb(13, 78, 138); font-family: tahoma; font-size: 14px;">
                            &bull; Criminal Lawyer: Specializes in criminal laws CrPC, IPC, Evidence Act and various
                            other penal laws.<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            &bull; Civil Litigation Lawyer: Specializes in civil laws e.g. taxation laws, excise
                            laws.<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            &bull; Legal Analyst: Works for corporate firms or law firms and analyses laws pertaining to
                            the sphere of the company and its operation.<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            &bull; Document Drafting Lawyer: Specializes in drafting various documents containing
                            agreements, terms and conditions, case material, etc.<br
                                style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            &bull; Legal Journalist: Covers crime beats, legal proceedings in courts, arbitration
                            courts, international courts and arbitration events.<br
                                style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            &bull; Legal Advisor: Offers consultancy to corporate firms regarding their legal
                            obligations, duties, legal relations with other firms.<br
                                style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            &bull; Government Lawyer: Works for the government and in close coordination with the
                            police.<br style="margin: 0px; padding: 0px;" />
                            <br style="margin: 0px; padding: 0px;" />
                            &bull; Judge: Offers judgment after conducting the court proceedings and hearing al the
                            concerned parties.
                        </p>
                        <div
                            style="margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-family: tahoma; font-size: 11px;">
                            &nbsp;</div>
                        </p>

                        <a style="color:red; font-weight:bold; float:left; width:100%; margin-top:20px; font-size:16px;"
                            href="/studentreg">Apply Here</a>
                    </div>
                </div>
                {%endblock%}